{% extends "layout.html" %}
{% block content %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="jumbo">
  <h2>Count<h2>
      <h3>Results are shown below.<h3>
 <hr />
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
$( document ).ready(function() {
    var object = {{ obj|tojson }};
    var jsonobj = JSON.parse(object);

    var pronouns = Array();
    var counts = Array();

    var dataArray = Array();

    for(i=0;i<jsonobj.length;i++) {
    pronouns[i] = jsonobj[i];
    counts[i] = jsonobj[i][pronouns[i]];
    var temp = new Array(pronoun[i],counts[i]);
    dataArray[i] = temp;				  
}
    
    var options = {
        chart: {
            renderTo: 'container',
            type: 'spline'
        },
        series: [{
				  type: 'pie',
				  name: 'Pronouns',
				  data: dataArray
    }]
  };
    var chart = new Highcharts.Chart(options);
     
});

			    
});
</script>
{% endblock %}
